/* 
create the styles based on the markdown below
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700
*/

html {
	box-sizing: border-box;
	background-color: var(--color-white);
	/* variables */
	--color-white: hsl(0, 0%, 100%);
	--color-light-gray: hsl(212, 45%, 89%);
	--color-grayish-blue: hsl(220, 15%, 55%);
	--color-dark-blue: hsl(218, 44%, 22%);
	--font-family: 'Outfit', sans-serif;
	--font-size: 15px;
	--font-weight-regular: 400;
	--font-weight-bold: 700;
	--card-border-radius: 16px;
	/* breakpoints */
	--breakpoint-mobile: 768px;

	/* widths */
	--width-mobile: 375px;
	--width-desktop: 1440px;

	font-family: var(--font-family);
	font-size: var(--font-size);
}

body {
	margin: 0;
	height: 100vh;
	background-color: var(--color-light-gray);
}

main {
	/* flex: 1; */
	background-color: var(--color-white);
	width: var(--width-mobile);
	margin: auto;
	box-shadow: 0 0 0 1px var(--color-light-gray), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	/* max-height: 600px; */
	border-radius: var(--card-border-radius);

	@media(width > var(--breakpoint-mobile)) {
		width: var(--width-desktop);
	}
}

main section.card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	gap: 1rem;
}

main section.card-container div:not(.card-header) {
	padding: 0 36px;
}

main section.card-container .card-header>img {
	border-radius: calc(var(--card-border-radius) * .5);
	width: 100%;
}

main section.card-container .card-body>strong {
	font-weight: var(--font-weight-bold);
	color: var(--color-dark-blue);
	font-size: calc(var(--font-size) * 1.5);
	text-align: center;
}

main section.card-container .card-footer>p {
	font-weight: var(--font-weight-regular);
	color: var(--color-grayish-blue);
	font-size: calc(var(--font-size) * 1);
	text-align: center;
}

body .attribution {
	margin-bottom: 16px;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-col.center {
	align-items: center;
	justify-content: center;
}